@media only screen and (min-width: 35em) {

}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
}
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
@media screen and (max-width: 1120px){
	.container{
		max-width: calc(100% - 40px);
	}
	.main_block p {
		font-size: 20px;
	}
	.image_block {
		width: 50%;
		margin: 0px 20px 0px 0px;
	}
	.content_block {
		width: calc(100% - 50% - 20px);
	}
}
@media screen and (max-width: 960px){
	nav.main_nav {
		width: 50%;
	}
	.container{
		max-width: calc(100% - 40px);
	}
	.main_block p {
		font-size: 20px;
	}
	.image_block {
		width: 50%;
		margin: 0px 20px 0px 0px;
	}
	.content_block {
		width: calc(100% - 50% - 20px);
	}
}
@media screen and (max-width: 768px){
	nav.main_nav {
		width: 100%;
	}
	.container{
		max-width: calc(100% - 40px);
	}
	.main_block p {
		font-size: 20px;
	}
	.image_block {
		width: 100%;
		margin: 0px 0px 20px 0px;
	}
	.content_block {
		width: 100%;
	}
    
    
        


    
    
}
@media screen and (max-width: 640px){
	nav.main_nav {
		width: 100%;
	}
	.container{
		max-width: calc(100% - 40px);
	}
	.main_block p {
		font-size: 20px;
	}
	.image_block {
		width: 100%;
		margin: 0px 0px 20px 0px;
	}
	.content_block {
		width: 100%;
	}
	.gallery_block{
		padding: 0px;
		margin: 0px;
		list-style: none;
		width: 100%;
		height: 100%;
		float: left;
		position: relative;
	}
	.gallery_block .owl-stage-outer{
		height: 100%;
	}
	.gallery_block .owl-item{
		max-height:220px;
	}
	
		.gallery_block li{
		height: 100%;
	}
	.gallery_block li a{
			float: left;
		width: 100%;
		height: 100%;
	}
	.gallery_block li a img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.main_block .gallery_block .owl-dots{
		text-align: center;
		margin:0px 0px 10px;
		bottom: 0px;
		position: relative;
	}
	.owl-carousel .animated{animation-duration:5s; animation-fill-mode:both;}
	.owl-carousel .animated.owl-animated-in.active{
		 animation-delay: 3s;
	}
    
    

    

}